
/* 🌐 Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

html, body {
  height: auto;  /* pas 100vh ni fixe */
  overflow-y: auto;
}

/* en tete */

header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1) ;
    position: sticky;

}